<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.a.applikasibwi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Norton Tour travel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.PurwoActivity"></activity>
        <activity android:name=".Activity.DjawatanActivity" />
        <activity android:name=".Activity.BaluranActivity" />
        <activity android:name=".Activity.wedirengActivity" />
        <activity android:name=".Activity.telukijoActivity" />
        <activity android:name=".Activity.pmActivity" />
        <activity android:name=".Activity.rantiActivity" />
        <activity android:name=".Activity.raungActivity" />
        <activity android:name=".Activity.ijenActivity" />
        <activity android:name=".Activity.ForestActivity" />
        <activity android:name=".Activity.BeachActivity" />
        <activity android:name=".Activity.MountainActivity" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.NavigationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>